* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
.section {
  margin-top: 13.9%;
}

section > p {
  margin-left: 5%;
}
a {
  text-decoration: none;
}
/* Start navbar */

#logo {
  width: 190px;
  height: 120px;
}
#navbar {
  position: fixed; /* Sticky/fixed navbar */
  top: 0;
  width: 100%;
  z-index: 3 !important;
  background: rgba(245, 245, 245, 0.56);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
nav > a {
  display: inline-block !important;
  /* top then right */
  padding: 0px 3%;
  justify-content: space-evenly !important;
  text-decoration: none;
  position: relative;
  margin: 0px;
  text-align: center;
  vertical-align: top;
  line-height: 120px;
  color: #342e2e;
}

nav > a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #342e2e;
  transform: scaleX(0);
  transition: transform 0.9s ease;
}
nav > a:hover::before {
  transform: scaleX(1);
}

/* Start navbar search icon */
.container {
  position: relative;
  --size-button: 40px;
  float: right;
  line-height: 120px;
  margin-right: 70px;
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: black;
  background-color: transparent;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.container .icon svg {
  width: 100%;
  height: 100%;
}
/* End navbar search icon */

/* End navbar */

/* The hero image */
.home-page {
  background-image: url("hero.png");
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}

@media only screen and (max-width: 700px) {
  /* The hero image */
  .home-page {
    background-image: none;
  }
}

/* Start roasts gallery*/
.gallery-h2 {
  text-align: center;
  width: 60%;
  color: #271308;
}
div.gallery {
  justify-content: center;
  text-align: center;
}

div.gallery:hover {
  background-color: #77777722;
}

div.gallery img {
  width: 30%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 15%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* End roasts gallery*/

/* Start footer */
footer {
  clear: both;
  position: relative;
  width: 100%;
  height: 70px;
  margin-top: 6%;
  background: #c3c6c4;
  color: #4c2510;
}

.footer > p {
  color: #4c2510;
  justify-content: center;
  line-height: 65px;
  margin-left: 20px;
}
.footer > p > a {
  color: #e1834b;
  text-decoration: underline;
}

/* End footer */

/* Start shop page */
.product-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 2%;
  margin: 0 5% 0 5%;
  grid-row-gap: 2%;
  overflow: hidden;
}
.card {
  position: relative;
  width: 220px;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 20px;
  overflow: hidden;
  margin: 15%;
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  z-index: 1;
  aspect-ratio: 3 / 2;
  object-fit: contain;
}
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.card .contentBox h3 {
  font-size: 18px;
  color: #4c2510;
  font-weight: 300;
  text-align: center;
  justify-content: center;
}

.card .contentBox .price {
  font-size: 24px;
  color: #4c2510;
  font-weight: 500;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  background: #e1834b;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.9s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}
/* End Shop Page */

/* Start Single Product Page */

/* Create two equal columns that floats next to each other */
.product-dec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 2%;
  margin: 0 5% 0 5%;
  grid-row-gap: 2%;
  overflow: hidden;
}
.relatedProducts{
display: flex;
align-items: center;
column-gap: 20px;
overflow-x: scroll;
scroll-snap-type: x mandatory;
}
.gallery-item{
  scroll-snap-align: center;
  min-width: 20%;
}
.column {
  padding: 10px;
  justify-items: center;
  text-align: center;
  height: auto;
}
.column-2 {
  padding: 20px;
  justify-items: center;
  text-align: center;
  height: auto;
  background-color: #f5f5f5;
  border: #f5f5f5 solid 1px;
  border-radius: 20px;
  margin-top: 30px;
}
.row {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.moreProductImg > img {
  width: 50px;
  height: 50px;
  border: #aaa solid 1px;
  object-fit: contain;
}
.column-2 > h2 {
  margin-top: 30px;
}
.column-2 > p {
  margin: 30px;
  text-align: justify;
}
/* button start*/
.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #e1834b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  margin: 30px;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}
/* button ends*/
/* End Single Product Page */

/* Start Privacy Policy Page */

#PrivacyP > P,
#PrivacyP > ul {
  margin-bottom: 10px;
  line-height: 30px;
  margin: 0 5% 0 5%;
  text-align: justify;
}
/* End Privacy Policy Page */

/* Start Out Story*/
h1 {
  text-align: center;
  color: #643215;
}
.div {
  position: relative;
  display: flex;
  justify-items: center;
  margin: 0 10% 0 10%;
}
.vl {
  border: 6px solid #643215;
  height: 900px;
  justify-items: center;
  align-items: center;
  margin: 0 45% 0 45%;
  border-radius: 20px;
  color: #643215;
  width: 5px;
}
.columnStory {
  float: left;
  width: 33.3333333%;
  justify-items: center;
  text-align: center;
  height: auto;
}
.rightStory {
  position: absolute;
  left: 48.5%;
}
.rightStory > p {
  width: 300px;
  padding: 25px;
  margin-left: 3%;
  text-align: justify;
}
.rightStory2 {
  position: absolute;
  left: 48.5%;
  top: 45%;
}
.rightStory2 > p {
  width: 300px;
  padding: 25px;
  margin-left: 3%;
  text-align: justify;
}

.leftStory {
  position: absolute;
  right: 51%;
  top: 150px;
}

.leftStory > p {
  width: 300px;
  padding: 25px;
  margin-left: 3%;
  text-align: justify;
}

.leftStory2 {
  position: absolute;
  right: 51%;
  top: 60%;
}

.leftStory2 > p {
  width: 300px;
  padding: 25px;
  margin-left: 3%;
  text-align: justify;
}
.column:after {
  content: "";
  display: table;
  clear: both;
}
.gole {
  text-align: center;
  justify-items: center;
}
.gole > p {
  width: 700px;
  text-align: justify;
  margin-left: 25%;
}
/* End Our Story */
